<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive: advlib </title>
    <link rel="stylesheet" href="./style/main.css">
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script> -->
    <script src="./js/bundle.js"></script>
     <!-- <script type="text/javascript" src="./js/query.js"></script> -->
  </head>

  <body ng-app="advlib">
    <div id="content" ng-controller="QueryCtrl">
      <form>
        <input ng-model="payload" type="text" size="32"
               placeholder="Paste your payload here">
        <button ng-click="process()"> Process </button>
      </form>
      <br>
      <pre>{{result}}</pre>
    </div>

  </body>
</html>